@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel, abyss;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
  }

  .font-serif {
    font-family: "Playfair Display", serif;
  }
}
